body {
    background-color: #f5f5f5;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin: auto;
    width: 820px;
    @media (max-width: 820px) {
        & {
            width: auto;
            margin: 0 15px;
        }
    }

    @media (max-width: 425px) {
        & {
            margin: 0 5px;
        }
    }
}

.container__top-block {
    margin: 20px 0;
    text-align: center;
}

.flights-wrapper {}

.flights-wrapper__element {
    width: 33.3%;
    padding: 5px 10px;
    display: inline-block;
    @media (max-width: 640px) {
        & {
            width: 50%;
        }
    }

    @media (max-width: 425px) {
        & {
            width: 100%;
        }
    }
}
