.flight {
  box-shadow: 0 1px 4px rgba(91, 137, 163, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  padding: 15px 15px 5px;
}

.flight__info {
  position: relative;
  &:before {
    content: "=>";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.flight__info-left {
  text-align: right;
  float: left;
}

.flight__info-right {
  float: right;
  text-align: left;
}

.flight__carrier {
  text-align: center;
}